@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.2em;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: Mooli;
}

h2 {
  font-size: 1.6em;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 1.4em;
  padding: 1em;
  text-align: center;
}
.logo {
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: 0;
}

.menu-button {
  border: 0;
  font-size: 1.4em;
  background-color: transparent;
  color: var(--text-light);
  cursor: pointer;
}

.menu-button:hover {
  color: var(--accent-color);
}

.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  line-height: 1.5;
}

.menu a {
  color: var(--text-light);
}

.menu a:hover {
  color: var(--accent-color);
}

main {
  background-color: var(--text-light);
  padding: 1em;
  text-align: center;
}
.gallery {
  display: grid;
  justify-content: center;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s;
}
.gallery img:hover {
  transform: scale(1.2);
}

.viewer {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  padding: 0.5em;
  justify-content: center;
  color: var(--text-light);
}
.viewer .close-viewer {
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  font-size: 1.2em;
}
.viewer img {
  /* grid-row: 2/3; */
  /* place-self: center; */
  max-height: 100%;
}
figure > img {
  border: 8px solid white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
  background-color: var(--primary-color);
  padding: 1em;
  color: var(--text-light);
}

.hide {
  display: none;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  header > nav,
  .gallery,
  main > h2,
  footer > p {
    max-width: 1080px;
    margin: 0 auto;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
    margin: auto;
  }
  .menu-button {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .viewer {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    padding: 3em;
  }
}
